:root {
    --darkgrey: hsl(235, 18%, 26%);
    --charcoalgrey: hsl(234, 29%, 20%);
    --white: hsl(0, 0%, 100%);
    --paragraph: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: "Roboto", sans-serif;
}

main {
    background-color: var(--darkgrey);
    width: 100%;
    display: grid;
    place-items: center;
    height: 100vh;
}

#container {
    padding: 17px;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
}

.right figure > img {
    display: block;
}

#success-container {
    display: none;
    width: 400px;
}

.success-msg {
    padding: 55px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 23px;
    background-color: var(--white);
}

.success-msg h1 {
    font-size: 45px;
    font-weight: 700;
}

.success-msg p {
    font-size: var(--paragraph);
}

.success-msg button {
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--charcoalgrey);
    color: var(--white);
    padding: 12px 0;
}