:root {
    --grey: hsl(235, 18%, 26%);
    --white: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

main {
    background-color: var(--grey);
    width: 100%;
    display: grid;
    place-items: center;
    height: 100vh;
}

#container {
    padding: 17px;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
}

.right figure > img {
    display: block;
}

/* ul div {
    display: flex;
    gap: 15px;
} */